@using BankAccts
@model BankAccts.Models.RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="jumbotron">
    <a href="/login"><button class="button" style="float: right">login</button></a>
    <h1>REGISTER</h1>
</div>

<Form asp-controller="Dog" asp-action="PreRegister" method="post">
    
    <span asp-validation-for="Name"></span><br>
    <label asp-for="Name"></label>
    <input asp-for="Name" autofocus>

    <span asp-validation-for="Email"></span><br>
    <label asp-for="Email"></label>
    <input asp-for="Email">

    <span asp-validation-for="Password"></span><br>
    <label asp-for="Password"></label>
    <input asp-for="Password">

    <span asp-validation-for="PassConf"></span><br>
    <label asp-for="PassConf"></label>
    <input asp-for="PassConf">

    <input type="submit" class="button" value="Register">

</Form>